<div class="px-2 d-flex flex-column gap-3 my-2">
    <div class="card p-2 bg-fabrica-apresentacao">
        <app-fabrica-apresentacao></app-fabrica-apresentacao>
    </div>
    <div class="row m-0 p-0 align-items-stretch">
        <div class="col-md-9 m-0 p-0 col-lg-10 col-sm-12">
            <div class="card p-1">
                <app-gantt-chart id="gantt" name="gantt" />
            </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 p-0 m-0">
            <app-visualizador-mudancas class="h-100" />
        </div>
    </div>
    @defer (on viewport) {
    <div class="row p-3 m-0 p-0 border rounded">
        <div class="col-10">
            <app-pedidos-planejados-tabela />
        </div>
        <div class="col-2">
            <div class="row g-2 h-100 m-0 p-0 row-gap-1 p-0 m-0">
                <div class="col-6 col-md-12 m-0 p-0">
                    <div class="h-100">
                        <app-contador-divida />
                    </div>
                </div>
                <div class="col-6 col-md-12 m-0 p-0">
                    <div class="h-100">
                        <app-contador-atraso />
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    @placeholder {
        <span>...carregando conteudo</span>
    }
    @defer (on viewport) {
        <div class="d-flex card p-3">
            <app-tabela-planejamento id="planejamentos" name="planejamentos"></app-tabela-planejamento>
        </div>
    }
    @placeholder {
        <span>carregando conteudo</span>
    }
    <div class="card p-3">
        <app-pedidos-tabela></app-pedidos-tabela>
    </div>
</div>