<div class="container-fluid">
    <div class="row justify-content-center align-items-start">
        <!-- Primeira coluna: tabela de pedidos -->
        <div class="col-12 mb-3">
            <app-pedidos-tabela [planejavel]="true"></app-pedidos-tabela>
        </div>
        <!-- Segunda coluna: gráficos -->
        <div class="col-12 mb-3">
            <div class="row">
                <!-- Gráfico de carga -->
                <div class="col-6">
                    <app-pedidos-carga-chart></app-pedidos-carga-chart>
                </div>

                <!-- Gráfico de carga por lote -->
                <div class="col-6">
                    <app-pedidos-carga-lote-chart></app-pedidos-carga-lote-chart>
                </div>
            </div>
        </div>
    </div>
</div>
