.page-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.page-content-wrapper {
  flex-grow: 1;
  overflow-y: hidden;
}

global-header {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.scrollable-content {
  overflow-y: auto;
  height: 100%;
}
