@if (user()) {
<div class="user-info-card">
    <div class="user-info">
        <p><strong>ID:</strong> {{ user()!.id }}</p>
        <p><strong>Nome:</strong> {{ user()!.name }}</p>
        <p><strong>Email:</strong> {{ user()!.email }}</p>
    </div>
    <div class="d-flex justify-content-end">
        <button (click)="logout()" class="btn btn-group btn-danger d-flex gap-2">
            <span><i class="pi pi-user-minus"></i></span>
            <span>logout</span>
        </button>
    </div>
</div>

}