<div [class]="cardMode ? 'p-3 bg-white rounded-4 shadow-sm border mb-3' : 'mb-3'">
    <div class="d-flex align-items-center gap-3">
        <div class="flex-grow-1">
            <form (ngSubmit)="requestSearch()" #filterForms="ngForm">
                <div class="search-box-container d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center ps-3">
                        <i class="pi pi-search search-icon"></i>
                    </div>
                    <input type="text" 
                           placeholder="Buscar por Partcode..." 
                           class="w-100 search-input ps-2" 
                           [(ngModel)]="partcode"
                           name="partcode"
                           (keyup.enter)="requestSearch()">
                    @if (partcode) {
                        <button class="btn btn-link text-muted p-2" (click)="clearSearch()" type="button">
                            <i class="pi pi-times"></i>
                        </button>
                    }
                </div>
            </form>
        </div>
        
        @if (!disableFilters) {
            <button [disabled]="disableFilters" 
                    class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center shadow-sm hover-effect" 
                    style="width: 45px; height: 45px;"
                    (click)="openDialog()"
                    pTooltip="Filtros avançados">
                <i class="pi pi-filter"></i>
            </button>
        }
    </div>
</div>