<div class="card border rounded p-3 h-100 d-flex flex-column bg-light">

  <p class="small mb-0">Mudanças aplicadas:</p>
  <hr class="w-100 mt-1 mb-2">

  <!-- A UL ocupa o espaço restante e só scrolla se ultrapassar -->
  @if (visualizador.logMudancas()?.length) {
  <ul class="list-unstyled overflow-y-auto" style="max-height: 50vh;">
    @for (visu of visualizador.logMudancas(); track $index) {
    <li>
      <p class="small mb-1" [style]="{ color: relacaoCorEMudanca[visu.mudanca] }">
        {{ visu.log }}
      </p>
      <hr class="my-1">
    </li>
    }
  </ul>
  }
  @else {
  <div class="d-flex flex-column gap-2">
    <p-skeleton class="mb-2" borderRadius="16px" />
    <p-skeleton width="4vw" class="mb-2" borderRadius="16px" />
    <p-skeleton width="2vw" class="mb-2" borderRadius="16px" />
  </div>
  }

</div>