<div class="container-fluid">
    <!-- Toolbar -->
    <div class="d-flex flex-wrap gap-2 align-items-center p-2">
        <p class="small mb-0 fw-semibold">Colorir Gantt por:</p>
        <ng-container *ngFor="let item of viewModeOp; let i = index">
            <button
                [disabled]="loadingRequest"
                (click)="setViewMode(item[1])"
                class="btn btn-sm"
                [ngClass]='item[1] !== viewMode
                    ? "btn-outline-success"
                    : "btn-success"'
            >
                {{ item[0] }}
            </button>
        </ng-container>
    </div>
    <hr class="my-2">
    <!-- Layout responsivo -->
    <div class="row g-3" style="height: 100%">
        <!-- Legenda com scroll -->
        <div class="col-12 col-md-3 col-lg-2">
            <div class="p-2 h-100" style="max-height: 400px; overflow-y: auto">
                @if (ganttStore.item()) {
                    <ul class="list-unstyled mb-0">
                        <span>legenda</span>
                        <hr>
                        <ng-container
                            *ngFor="let item of ganttStore.item()?.legenda; let i = index"
                        >
                            <li class="d-flex align-items-center gap-2 mb-2">
                                <!-- bolinha colorida -->
                                <span
                                    class="rounded-circle d-inline-block border"
                                    [style.background-color]="item.cor"
                                    style="width: 16px; height: 16px"
                                >
                                </span>
                                <!-- legenda -->
                                <span class="small text-truncate">{{
                                        item
                                        .legenda
                                    }}</span>
                            </li>
                        </ng-container>
                    </ul>
                } @else {
                    <div class="d-flex flex-column gap-2">
                        <p-skeleton class="mb-2" borderRadius="16px" />
                        <p-skeleton width="4vw" class="mb-2" borderRadius="16px" />
                        <p-skeleton width="2vw" class="mb-2" borderRadius="16px" />
                    </div>
                }
            </div>
        </div>

        <!-- Gantt -->
        <div class="col-12 col-md-9 col-lg-10">
            <div
                #gantt
                id="gantt"
                class="gant-target dark w-100"
                style="min-height: 400px"
            >
            </div>
        </div>
    </div>
</div>
