version: '3.8'

services:
  ethosfront:
    # Aponte para a imagem gerada pelo CI/CD
    # Substitua SEU_USUARIO e SEU_REPOSITORIO pelos dados reais (tudo minúsculo)
    image: ghcr.io/${GITHUB_USER_OR_ORG}/${GITHUB_REPOSITORY}:main
    
    container_name: ethosfront
    restart: always # Importante para produção/homologação
    ports:
      - "${DEPLOY_PORT}:8085"
    
    # Se você quiser que o Docker sempre verifique se há uma versão nova na main
    pull_policy: always
    
    # É aqui que o --add-host entra na Stack
    extra_hosts:
      - "app.ethos.ind.br:192.168.99.156"
      - "app.prod.ethos:192.168.99.156"

    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      # Configurações do Planejador
      - API_URL_PLANEJADOR=${API_URL_PLANEJADOR}
      - API_SWAGGER_PLANEJADOR=${API_SWAGGER_PLANEJADOR}
      # Configurações de Rotas
      - API_URL_ROUTES=${API_URL_ROUTES}
      - API_SWAGGER_ROUTES=${API_SWAGGER_ROUTES}
      # Configurações de Auth
      - API_URL_AUTH=${API_URL_AUTH}
      - API_SWAGGER_AUTH=${API_SWAGGER_AUTH}
      # Configurações de Ponto
      - API_URL_RELOGIO=${API_URL_RELOGIO}
      - API_SWAGGER_RELOGIO=${API_SWAGGER_RELOGIO}
      # Configurações de Certificados
      - API_URL_CERTIFICADOS=${API_URL_CERTIFICADOS}
      - API_SWAGGER_CERTIFICADOS=${API_SWAGGER_CERTIFICADOS}
      # Configuracao wifi
      - API_URL_WIFI=${API_URL_WIFI}
      - API_SWAGGER_WIFI=${API_SWAGGER_WIFI}