<div class="p-3 d-flex flex-column" style="aspect-ratio: 1/1">
    <p>{{title()}}</p>
    <hr>
    <div class="d-flex align-items-center justify-content-center">
        @if(text()){
        <p class="display-6">{{text()}}</p>
        }
        @else {
        <div class="d-flex flex-column">
            <p-skeleton class="mb-2" borderRadius="16px" />
            <p-skeleton width="4vw" class="mb-2" borderRadius="16px" />
            <p-skeleton width="2vw" class="mb-2" borderRadius="16px" />
        </div>
        }
    </div>
</div>