<p-confirm-popup></p-confirm-popup>
<div class="d-flex flex-column border-0 p-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <h1 class="display-6">
                Fábrica
                @if(fabrica(); as fabrica){
                <span [class]="
                fabrica.principal?
                'text-success' : 'text-info'">
                    {{fabrica.principal ? 'Operacional' : 'Simulação'}}
                </span>
                }
                @else {
                <span>
                    <p-skeleton width="4rem" class="d-inline-block" />
                </span>
                }
            </h1>
            <p class="small fst-italic">~ gerada por
                @if(fabrica(); as fabrica) {
                <span class="text-success">{{ fabrica.autor }}</span>
                } @else {
                <span>
                    <p-skeleton width="4rem" class="d-inline-block" />
                </span>
                }
            </p>
        </div>
        <span class="text-muted small">
            @if(fabrica()) {
            {{ fabrica()!.date | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}
            }
            @else{
            <p-skeleton width="10rem" class="mb-2" borderRadius="16px" />
            }
        </span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2">
            @if (!fabrica()) {
            <p-skeleton width="10rem" class="mb-2" borderRadius="16px" />
            }
            @else if(fabrica()!.principal){
                <app-fabrica-apresentacao-botoes [ehPrincipal]="true"></app-fabrica-apresentacao-botoes>
            }
            @else if (!fabrica()!.principal) {
            <div class="p-2 rounded bg-light d-flex">
                <app-fabrica-apresentacao-botoes [ehPrincipal]="false"></app-fabrica-apresentacao-botoes>
            </div>
            }
        </div>
        @if(fabrica()) {
        <span class="small text-secondary">{{fabrica()!.fabricaId}}</span>
        }
        @else{
        <p-skeleton width="10rem" class="mb-2" borderRadius="16px" />
        }
    </div>
</div>