<div class="border border-0 border-bottom">
    <nav class="d-flex gap-4 px-3 py-2">
        <a [routerLink]="['/app']" fragment="planejamentos" class="text-decoration-none text-secondary fs-6 fs-md-5 fs-lg-4">Planejamento</a>
        <a [routerLink]="['/app']" fragment="gantt" class="text-decoration-none text-secondary fs-6 fs-md-5 fs-lg-4">Gantt</a>
        <a [routerLink]="['/app']" fragment="pedidos" class="text-decoration-none text-secondary fs-6 fs-md-5 fs-lg-4">Pedidos</a>
    </nav>
</div>