<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container mt-4">
    <div class="row">
        <ng-container *ngFor="let field of fields">
            <div [class]="inColumn? 'col-12 mb-3':'col-md-3 mb-3' ">
                <label [for]="field.name" class="form-label fw-semibold">{{ field.label }}</label>
                <br>
                <input *ngIf="field.type === 'text'" pInputText type="text" class="form-control" [id]="field.name"
                    [name]="field.name" [disabled]="field.disable" [(ngModel)]="model[field.name]"
                    (ngModelChange)="onFieldChange(field, $event)" [required]="!!field.required" #ctrl="ngModel"
                    [class.is-invalid]="ctrl.invalid && ctrl.touched" />


                <input *ngIf="field.type === 'number'" pInputText type="number" class="form-control" [id]="field.name"
                    [name]="field.name" [disabled]="field.disable" [(ngModel)]="model[field.name]"
                    (ngModelChange)="onFieldChange(field, $event)" [required]="!!field.required" #ctrl="ngModel"
                    [class.is-invalid]="ctrl.invalid && ctrl.touched" />


                <p-dropdown 
                    *ngIf="field.type === 'select'"
                    [options]="field.data" 
                    [(ngModel)]="model[field.name]"
                    optionLabel="v" 
                    optionValue="k" 
                    [placeholder]="'Selecione uma opção'"
                    [filter]="true" 
                    filterBy="v" 
                    [showClear]="true"
                    styleClass="w-100" 
                    [id]="field.name"
                    [name]="field.name"
                    [disabled]="field.disable"
                    [required]="!!field.required" 
                    #ctrl="ngModel"
                    [class.is-invalid]="ctrl.invalid && ctrl.touched"
                    (ngModelChange)="onFieldChange(field, $event)">
                </p-dropdown>


                <p-date-picker *ngIf="field.type === 'date'" class="w-100" inputStyleClass="form-control"
                    [id]="field.name" [disabled]="field.disable" [name]="field.name" [showIcon]="true"
                    [showButtonBar]="true" dateFormat="dd/mm/yy" [(ngModel)]="model[field.name]"
                    (ngModelChange)="onFieldChange(field, $event)" [required]="!!field.required" #ctrl="ngModel"
                    [class.ng-invalid]="ctrl.invalid && ctrl.touched">
                </p-date-picker>


                <div *ngIf="validationErrors[field.name]" class="text-danger small mt-1">
                    Valor inválido com base nas regras do formulário.
                </div>
            </div>
        </ng-container>
        <div class="text-end">
            <button pButton type="submit" class="btn btn-secondary"><i [class]="buttonIcon"></i></button>
        </div>
    </div>
</form>