<div class="d-flex gap-4 justify-content-center">
    <div class="d-flex flex-column">
        <!-- <div class="d-flex gap-3">
            <button class="btn btn-group btn-outline-dark" (click)="backDate()">
                <i class="pi pi-angle-left"></i>
            </button>
            <button class="btn btn-group btn-outline-dark" (click)="nextDate()">
                <i class="pi pi-angle-right"></i>
            </button>
        </div> -->
        <div class="flex">
            <p-datepicker  [(ngModel)]="currentDate" (onSelect)="setDate($event)" [inline]="true">
                <ng-template #date let-date let-disabled="disabled">
                    <span  pBadge [badgeDisabled]="!isDateInList(date)"
                        [severity]="'warn'">{{date.day}}</span>
                </ng-template>
            </p-datepicker>
        </div>
    </div>
    @if (dates && dates.length>0) {
        <app-tabela-producao-simulacao [contextDate]="dates[currentDatePointer]"></app-tabela-producao-simulacao>
    }
</div>