<div class="d-flex gap-2 pt-2">
  <p class="text-success display-6 small">{{tableModel.title}}</p>
</div>

<p-table #dt2 [globalFilterFields]="getAllColumns()" [value]="data" groupRowsBy="atr_group" dataKey="atr_group"
  [paginator]="tableModel.paginator? true: false" [rows]="10" [columns]="tableModel.columns"
  [rowsPerPageOptions]="30 < (data ? data.length : 0) ? [10, 20, 30, data ? data.length : 0 ]: [10,20,30]"
  [rowGroupMode]="tableModel.totalize ? 'subheader' : undefined" class="small" sortMode="multiple"
  [scrollable]="scrollable" [scrollHeight]="scrollHeight">

  <ng-template #caption class="bg-white small">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-stretch align-items-md-center gap-2">
      @if(exportable){
      <div class="d-flex gap-2 justify-content-start align-items-center flex-grow-1">
        <input pInputText type="text" placeholder="pesquisa..." (input)="applyFilterGlobal($event, 'contains')"
          class="w-md-25 w-sm-100 w-md-auto small" />
        <i class="pi pi-search small"></i>
      </div>
      <div class="d-flex gap-2 justify-content-end mt-2 mt-md-0">
        <p-button icon="pi pi-file-excel" label=".xlsx" (click)="exportarExcel()" class="small" />
        <p-button icon="pi pi-table" label=".csv" (click)="dt2.exportCSV()" class="small" />
      </div>
      }
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr class="small">
      @for (key of columns ; track $index) {
      <th pSortableColumn="{{ key.field }}" class="text-responsive text-center small">
        @if (!key.isButton) {
        @if (key.isDate) {
        <p-columnFilter [field]="key.field" type="date" display="menu" class="small">
          @if (key.isDate) {
          <ng-template pTemplate="filter" let-filter="filterCallback">
            <p-date-picker dateFormat="dd/mm/yy" (onSelect)="onDateSelect($event, filter)"></p-date-picker>
          </ng-template>
          }
        </p-columnFilter>
        }
        @else {
        <p-columnFilter [field]="key.field" [type]="key.isCheckBox ? 'boolean' : 'text'" display="menu" class="small" />
        }
        <p-sortIcon [field]="key.field"></p-sortIcon>
        {{ key.alias || key.field }}
        }
      </th>
      }
    </tr>
  </ng-template>

  @if (tableModel.totalize) {
  <ng-template pTemplate="groupheader" let-item let-rowIndex="rowIndex" let-expanded="expanded">
    <tr class="small">
      @for (col of tableModel.columns; track $index) {
      @if ($index ===0) {
      <td class="d-flex align-items-center small">
        <button type="button" pButton pRipple [pRowToggler]="item"
          class="p-button-text p-button-rounded p-button-plain mr-2 small"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
        </button>
        <span class="font-bold text-responsive text-center small">{{tableModel.title}}</span>
      </td>
      }
      @else {
      <td class="small">
        <span class="text-responsive small">{{getTotalOfColumn(col)}}</span>
      </td>
      }
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-item>
    <tr class="small">
      @for (key of tableModel.columns; track $index) {
      <td class="text-responsive text-center small">
        @if (key.isImg) {
        @let image = getNestedValue(item, key.field);
        <div class="d-flex justify-content-center align-items-center small">
          {{image}}
          @if (!image) {
          <div class="bg-secondary-subtle rounded d-flex justify-content-center align-items-center"
            style="width: 100px; height: 100px;">
            <i class="pi pi-eye-slash small"></i>
          </div>
          }
          @else {
          <p-image [preview]="true" [src]="image" width="100px" height="100px" alt="" />
          }
        </div> }
        @else {
        {{getNestedValue(item, key.field)}}
        }
      </td>
      }
    </tr>
  </ng-template>
  }
  @else {
  <ng-template pTemplate="body" let-item let-columns="columns" #body>
    <tr [ngStyle]="checkHighLight(item)" class="small">
      @for (key of columns; track $index) {
      <td class="text-responsive text-center border-bottom border-secondary-subtle py-2 small">
        @if (key?.isImg) {
        @let image = getNestedValue(item, key.field);
        <div class="d-flex justify-content-center align-items-center">
          @if (!image) {
          <div class="bg-secondary-subtle rounded d-flex justify-content-center align-items-center"
            style="width: 100px; height: 100px;">
            <i class="pi pi-eye-slash small"></i>
          </div>
          }
          @else {
          <p-image [preview]="true" [src]="image" width="100px" height="100px" alt="" />
          }
        </div>
        }
        @else if (key?.isCheckBox) {
        <input type="checkbox" [checked]="getNestedValue(item, key.field)" (change)="onNewCheckEvent(item, key, $event)"
          class="small">
        }
        @else if(key?.isButton){
        <button (click)="key.button.command(item, $event); onNewCheckEvent(item, key.field, $event)"
          class="btn btn-group border d-flex border-0 btn-outline-secondary justify-content-center align-items-center gap-2">
          <span>{{key.button.label}}</span>
          <i [class]="key.button.icon || ''"></i>
        </button>
        }
        @else if (key?.isInputText) {
        <p-inputnumber [ngModel]="getNestedValue(item, key.field)" [showButtons]="false" inputId="stacked"
          [inputStyle]="{ width: '5rem', textAlign: 'center'}"
          (ngModelChange)="onInputChangeDebounced(item, key.field, $event)" maxlength="2">
        </p-inputnumber>
        }
        @else {
        @if (key.isDate) {
        {{ getNestedValue(item, key.field) ? (getNestedValue(item, key.field) | date : 'dd/MM/yyyy HH:mm') :
        ''}}
        }
        @else {
        {{getNestedValue(item, key.field)}}
        }
        }
      </td>
      }
    </tr>
  </ng-template>
  }

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" class="text-center p-3">
        Não há dados para exibir.
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <span class="text-secondary small">
      total de linhas: {{ data ? data.length : 0 }}
    </span>
  </ng-template>
</p-table>

@if (tableModel.ghostControll?.length) {
<div class="small">
  <ul class="list list-unstyled small">
    @for (topic of tableModel.ghostControll; track $index) {
    <li class="d-flex text-responsive align-items-center gap-2">
      {{topic.desc}}:
      <div [ngStyle]="{'background-color': topic.color}" style="width: 10px; height: 10px;"
        class="rounded-circle border"></div>
    </li>
    }
  </ul>
</div>
}